.contact-map {
    color:rgb(255, 255, 255);
    background-color: #09031b;
    padding: 0.5rem;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0);
    margin: 2rem auto;
  }

  .contact-map button:hover,
  .contact-map button:active {
    background-color: #00ee00;
    border-color: #510674;
  }

  .contact-map__actions {
    text-align: center;
    margin: 20px 4px 30px 0;  
}

.contact-map__background {
  background-color: #e6e4ee;
  color:rgb(10, 11, 36);
  font: inherit;
  font-weight: bold;
  padding: 1rem;
  margin: 0.5rem auto;
  width: 16rem;
  max-width: 95%;
  border-radius: 19px;
  text-align: center;
}

.contact-map__awesome_background {
  background-color: #e6e4ee;
  color:rgb(255, 255, 255);
  font: inherit;
  font-weight: bold;
  padding: 1rem;
  margin: -20rem 6rem 0rem 0;
  width: 8rem;
  max-width: 95%;
  border-radius: 14px;
  text-align: center;
}
  
.contact-stats {
  font: inherit;
  padding: 0.4rem;
  font-weight: bold;
  margin: 0rem 0rem 2rem 0.4rem;

}

.contact-stats__header {
  padding: 0.5rem;
  color:rgba(199, 142, 193, 0.897);
  font: inherit;
  margin: 0rem 13.5rem 3rem;
  font-size: 2.5em;
}

.contact-stats__head {
  padding: 0rem;
  margin: 0rem 0.9rem;
  font-size: 1.6em;
}
.contact-stats__head_1 {
  padding: 0rem;
  margin: -8.1rem 0rem 0.2rem 22rem;
  font-size: 1.6em;
}
  .contact-stats__body {
    padding: 0rem;
    margin: 0rem 5rem 0rem 3.0rem;
    font-size: 4.0em;
  }

  .contact-stats__body_1 {
    padding: 0rem;
    margin: 0rem 5rem 0rem 23.6rem;
    font-size: 4.0em;
  }
  