.header {
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.548);
    border-radius: 12px;
    color:rgb(255, 255, 255);
    background-color: #0e042c;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.733);
}